.top{

  background-color: olive;
  width: 100px;
  height: 200px;
  position: relative;
  left: 200px;
  display: inline-block;
  top: 0px;
  bottom: 0px;
  right: 0px;

}

.mid{
  background-color: peru;
  width: 200px;
  height: 200px;
  position: relative;
  left: 200px;
  display: inline-block;
  top:200px ;
  bottom: 0px;
  right: 0px;

}

.bot{
  background-color: rebeccapurple;
  width: 100px;
  height: 200px;
  position: relative;
  left: 200px;
  display: inline-block;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.container{
  background-color: red;
  height: 400px
}
